<main class="container-sm ">
    {{#if online}}
        <div class="row">
            <div class="col-md p-2">
                <div class="card p-3 border-0 ">
                    <img class="card-img-top " src="../media/doces/pexels-polina-tankilevitch-4110008.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Bolo De Chocolate</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Bolo de chocolate meio amargo com uma dose de brigadeiro.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="../media/doces/bolo-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Bolo Recheado</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Bolos de chocolate, limão, milho etc com os mais diversos recheios e coberturas.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="../media/doces/brigadeiro-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Brigadeiro</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Brigadeiros, beijinhos, cajuzinhos, casadinhos, olhos de sogra, tudo de sua escolha.</h5>
                    </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="../media/doces/cupcake-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Cupcake</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Cupcakes de chocolate, baunilha, morango, com diversos recheios e caldas.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="../media/doces/donut-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Donut</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Rosquinhas das mais diversas cores e sabores selecionadas à dedo.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="../media/doces/marshmallow-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Marshmallow</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Marshmallows dos mais diversos tamanhos, formas e sabores você encontra aqui!</h5>
                    </div>
                    </div>
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md p-2">
                <div class="card p-3 border-0 ">
                    <img class="card-img-top " src="media/doces/pexels-polina-tankilevitch-4110008.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Bolo De Chocolate</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Bolo de chocolate meio amargo com uma dose de brigadeiro.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="media/doces/bolo-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Bolo Recheado</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Bolos de chocolate, limão, milho etc com os mais diversos recheios e coberturas.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="media/doces/brigadeiro-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Brigadeiro</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Brigadeiros, beijinhos, cajuzinhos, casadinhos, olhos de sogra, tudo de sua escolha.</h5>
                    </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="media/doces/cupcake-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Cupcake</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Cupcakes de chocolate, baunilha, morango, com diversos recheios e caldas.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="media/doces/donut-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Donut</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Rosquinhas das mais diversas cores e sabores selecionadas à dedo.</h5>
                    </div>
                    </div>
            </div>
            <div class="col-md p-2 ">
                <div class="card p-3 border-0" >
                    <img class="card-img-top " src="media/doces/marshmallow-500.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-center text-white bg-dark">Marshmallow</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="card-text">Marshmallows dos mais diversos tamanhos, formas e sabores você encontra aqui!</h5>
                    </div>
                    </div>
            </div>
        </div>
    {{/if}}
</main>