<main class="container mx-auto form bg-light shadow-sm">
    <form method="post" class="row text-center">
        <label class="col-12-xm disblock h4 mb-4">
            Bem vindo!
        </label>
        <label class="col-12-xm disblock" for="nomeCliente">
            Seu nome
        </label>
        <input class="shadow-sm col-12-xm io-input border-0 border-bottom p-2" type="text" name="nomeCliente" placeholder="Exemplo dos Santos" required>
         <label class="col-12-xm disblock" for="senhaCliente">
            Sua senha
        </label>
        <input class="shadow-sm col-12-xm io-input border-0 border-bottom p-2" type="password" name="senhaCliente" placeholder="********" required>
        <hr>
        <input class="shadow container btn btn-outline-danger btn-block" type="submit" value="Entrar">
    </form>
</main>