<main class="container">
    <div class="container row">
        <div class="col-lg p-2 m-2 card border-0">
            <a href="salgados.html" class="nav-link text-white active"><img src="media/salgados/salgados-icone.jpeg" class="rounded card-img-top img-fluid" alt="Cinque Terre" ></a>
        </div>
        <div class="col-lg p-2 m-2 card border-0">
            <a href="doces.html" class="nav-link text-white active"><img src="media/doces/doces-icone.jpeg" class="rounded card-img-top img-fluid" alt="Cinque Terre"></a>
        </div>
    </div>
</main>

 


