@charset "UTF-8";
.form{
    max-width: 900px;
    padding: 40px 15% 60px;
}
.tb-pd{
    padding: 40px 30px 60px;
}
.disblock{
    display: block;
}
.io-input{
    outline: 0px;
}
.comp{
    min-height: 150px;
    margin-bottom: 15px;
}
.userbutton{
    margin-right: 0;
    margin-left: auto;
}


input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

@media (max-width:575px){
    .mininav{
        justify-content: stretch;
    }
    .mininav-1{
        flex: 1 1;
    }
    .form{
        padding: 20px;
    }
    .rightbutton-li-top{
        margin-bottom: 0 !important;
    }
    .rightbutton-li-bot{
        margin-top: 0 !important;
    }
    .rightbutton-ul-bot{
        padding-top: 0px;
    }
}
@media (min-width:576px){
    .tb-pd{
        padding: 40px 5% 60px;
    }
    .rightbutton{
        justify-content: space-between !important;
        width: 100%;
    }
}
@media (min-width:992px){
    .tb-pd{
        padding: 40px 15% 60px;
    }
}

h1 {
    display: flex;
    
}
